@tailwind base;
@tailwind components;
@tailwind utilities;


.home-background {
    background-image: url('./../assets/bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}